<p>Hello,</p>
<p>Someone requested a password reset for your account. However, your account is linked to <strong>Google Login</strong>.</p>
<p>Because you use Google to sign in, you don't have a separate password for our site. Please use the "Sign in with Google" button on the login page.</p>
<p>If you didn't request this, you can safely ignore this email.</p>